@font-face {
  font-family: "Messina Sans Mono";
  src: url("MessinaSansMono-SemiBold.eot");
  src: local("Messina Sans Mono SemiBold"), local("MessinaSansMono-SemiBold"),
    url("MessinaSansMono-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("MessinaSansMono-SemiBold.woff2") format("woff2"),
    url("MessinaSansMono-SemiBold.woff") format("woff"),
    url("MessinaSansMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("MessinaSansMono-Regular.eot");
  src: local("Messina Sans Mono Regular"), local("MessinaSansMono-Regular"),
    url("MessinaSansMono-Regular.eot?#iefix") format("embedded-opentype"),
    url("MessinaSansMono-Regular.woff2") format("woff2"),
    url("MessinaSansMono-Regular.woff") format("woff"),
    url("MessinaSansMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
